
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <br />
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Ol</li>
            </ol>
        </nav>
        <div class="col-md-8">
            <!--MAKALE LİSTESİ-->
            <h3>Bilgileriniz Güncellenmiştir...</h3>
        </div>
        <div class="col-md-4">
            <!--KONU LİSTESİ-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-info" aria-current="true">
                    Tüm Konular
                </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Konu A</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Konu B</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Konu C</a>
            </div>
            <br />
            <h6 style="font-weight:bold;">En Çok Okunan Makaleler</h6>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/img/2018 Oyunlar.jpg" alt="..." width="125">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock-fill" style="font-size:15px;"></i> Tarih -- <i class="bi bi-eye-fill"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>
            <div class="card mb-3 " style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4 ">
                        <img src="/Content/img/CyberPunk.jpg" alt="..." width="125">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock-fill" style="font-size:15px;"></i> Tarih -- <i class="bi bi-eye-fill"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/img/Skyrim.jpg" alt="..." width="125">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock-fill" style="font-size:15px;"></i> Tarih -- <i class="bi bi-eye-fill"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/img/PhishingSaldırısı.png" alt="..." width="125">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock-fill" style="font-size:15px;"></i> Tarih -- <i class="bi bi-eye-fill"></i> 10 Görüntülenme</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

